body {
    background-color: #121212;
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin: 0;
}
.coin img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: drop 1s forwards, spin 3s linear 1s infinite, splitCoin 2s 10s forwards; */
    animation: drop 2s forwards, spin 2s linear 2s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}

@keyframes drop {
    0% {
        top: -50%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.coin-icon img {
    width: 20px;   /* Adjust this to the size you want the coin to reduce to */
    height: auto;
    transition: all 2s ease;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;  /* Some padding to keep links away from screen edge */
}



.card-container {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 2s; 
}

.card {
    background-color: #1E1E1E;
    width: 100px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #2A2A2A;
    border-radius: 5px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #2D2D2D;  /* dark background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* subtle shadow */
    transition: opacity 0.3s ease;
    opacity: 0;  /* starts off hidden */
}

.toolbar a {
    text-decoration: none;
    color: white;  /* text color */
    font-family: 'Roboto', sans-serif;  /* modern font */
    margin: 0 15px;
    transition: color 0.2s ease;
}

.toolbar a:hover {
    color: #007BFF;  /* accent color on hover */
}

/* Add an icon beside the website name, for example */
.toolbar .site-logo {
    display: flex;
    align-items: center;
}

.toolbar .site-logo img {
    height: 30px;  /* logo height */
    margin-right: 10px;  /* space between logo and text */
}
